<div class='col-sm-6 table'>
  <div style="text-align:center">
  </div>
    <button class="btn btn-outline-primary btn-sm m-1" type="button" [routerLink]="['']">Lists</button>
    <button class="btn btn-outline-primary btn-sm m-1" type="button" [routerLink]="['new']">Create</button>

  <div>
    <table class='mt-2 col-12 table-hover'>
        <thead>
          <th>Image</th>
          <th>ID</th>
          <th>Name</th>
          <!-- <th> Description </th> -->
          <th>Price</th>
          <th class='text-center'>Actions</th>
        </thead>
        <tbody>
          <tr class='form-group' *ngFor="let i of items">
            <td><a href="{{i.buy_url}}">
              <img src="{{i.image_url}}" class="img-thumbnail" alt='Image here'>
            </a></td>
            <td>{{i._id}}</td>
            <td>{{i.name}}</td>
          <!-- <td>{{i.description}}</td>
 -->            <td> {{i.price}}  </td>
            <td class='form-group text-center'>
              <button class='btn btn-outline-primary btn-sm' [routerLink]="['/'+i._id, 'edit']">Edit</button>
              <button class='ml-2 btn btn-outline-danger btn-sm' (click)="deleteItem(i._id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
